
header{
    margin-bottom: 40px;
width:100%; 
max-width:2000px;

}

a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.container {
    display: flex;
    flex-direction: column;
   width: 300px;
   padding-top: 40px ;
   padding-bottom: 15px;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(128, 128, 128);
    margin: auto;
    width:400px
}

.blocks{
    display: inline-block;
    margin: 0;
    flex-direction: row;
}
.bg-white {
    background-color: #fff!important;
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}
.shadow {
    box-shadow: 0 0 1rem rgba(0,0,0,.15)!important;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed-top {
    top: 0;
}
@media (min-width: 992px)
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: rgba(0,0,0,.5);
    --bs-navbar-hover-color: rgba(0,0,0,.9);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb),0.3);
    --bs-navbar-active-color: #000;
    --bs-navbar-brand-padding-y: 0.5rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1rem;
    --bs-navbar-brand-color: #000;
    --bs-navbar-brand-hover-color: #000;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb),0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
*, :after, :before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #35b653;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #4e66f8;
    --bs-secondary: #e83e8c;
    --bs-success: #35b653;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
    --bs-primary-rgb: 78,102,248;
    --bs-secondary-rgb: 232,62,140;
    --bs-success-rgb: 53,182,83;
    --bs-info-rgb: 23,162,184;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 52,58,64;
    --bs-primary-text-emphasis: #1f2963;
    --bs-secondary-text-emphasis: #5d1938;
    --bs-success-text-emphasis: #154921;
    --bs-info-text-emphasis: #09414a;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #dce0fe;
    --bs-secondary-bg-subtle: #fad8e8;
    --bs-success-bg-subtle: #d7f0dd;
    --bs-info-bg-subtle: #d1ecf1;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #b8c2fc;
    --bs-secondary-border-subtle: #f6b2d1;
    --bs-success-border-subtle: #aee2ba;
    --bs-info-border-subtle: #a2dae3;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: "Poppins",sans-serif;
    --bs-font-monospace: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: "Poppins",sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(33,37,41,.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33,37,41,.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #4e66f8;
    --bs-link-color-rgb: 78,102,248;
    --bs-link-decoration: none;
    --bs-link-hover-color: #3e52c6;
    --bs-link-hover-color-rgb: 62,82,198;
    --bs-link-hover-decoration: underline;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: 0.4rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.6rem;
    --bs-border-radius-xl: 10rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0 1rem rgba(0,0,0,.15);
    --bs-box-shadow-sm: 0 0.1rem 0.3rem rgba(0,0,0,.1);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(78,102,248,.25);
    --bs-form-valid-color: #35b653;
    --bs-form-valid-border-color: #35b653;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}