<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация аккаунта</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.misdeliver.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <form style="margin: auto; max-height: 645px;">
    <div class="container">
        <h1 style="font-family: arial black; ">Регистрация</h1>
        
        <label style="margin-top:10px ; margin-bottom: 10px;" for="username"><b>Логин:</b></label>
        <input type="text" placeholder="Введите логин"/>
         
        <label style="margin-top:10px ; margin-bottom: 10px;" for="email"><b>Почта:</b></label>
        <input type="text" placeholder="Введите почту"/>

        <label style="margin-top: 10px; margin-bottom: 10px;" for="password"><b>Пароль:</b></label>
        <input type="password" placeholder="Введите пароль"/>
        
        <label style="margin-top: 10px; margin-bottom: 10px;" for="email"><b>Повторите пароль:</b></label>
        <input type="password"placeholder="Повторите пароль"/>
        
       
        

       <div style="margin-top: 5px; margin-bottom: 30px;  text-align: center; background-color: white;" class="dropdown">
        <p>Кем вы являйтесь?</p>
        <div style="display: inline-block;">
          <button>Участник</button>
          <button >Админ</button>
          
          
        </div>
      </div>
   
      
      
    
      <button style="z-index: index 1 ;"><a href="file:///C:/Users/Asus/Desktop/Visual%20Code/Git%20Hub/хакатон%202/index.html">Зарегистрироваться</a></button>

        
        
        <p style="padding-bottom: 60px; text-align: center;">Уже есть аккаунт? <a href="entry">Войти</a></p>
    
    </form>
    
    <script src="Js.js"></script>
</body>
</html>